* {
	box-sizing: border-box;
	list-style-type: none;
}

body {
	font-size: 16px;
	font-family: Karla;
	color: #fff;
	background: hsl(218, 22%, 67%);
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 690px;
	box-shadow: 0 0 20px rgb(150, 150, 150);
}

.container div {
	padding: 30px;
}

.container div:first-child {
	background: #fff;
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.container div:first-child h2 {
	color: hsl(179, 62%, 43%);
}

.container div:first-child h2 + p {
	color: hsl(71, 73%, 54%);
	font-weight: 700;
}

.container div:first-child p {
	color: hsl(218, 22%, 67%);
	font-weight: 700;
}

.container div:nth-of-type(n+2) {
	width: 50%;
	background: hsl(179, 62%, 43%);
}

.container div:nth-child(2) {
	border-radius: 0 0 0 10px;
}

.container div:nth-child(2) p {
	display: table;
}

span.price {
	font-size: 30px;
	font-weight: 700;
	margin-right: 10px;
}

span.price + span {
	font-weight: 400;
	display: table-cell;
	vertical-align: middle;
}

button {
	padding: 15px;
	background: hsl(71, 73%, 54%);
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	border: none;
	width: 100%;
	box-shadow: 0 0 10px rgb(100,100,100);
	border-radius: 3px;
}

.container div:last-child {
	border-radius: 0 0 10px 0;
	background: hsl(179, 62%, 46%);
}

ul {
	margin: 0;
	padding: 0;
	line-height: 22px;
}

@media screen and (max-width: 375px) {
	.container {
		justify-content: column;
		width: 345px;
	}

	.container div:nth-of-type(n+2) {
		width: 100%;
	}

	.container div:nth-child(2) {
		border-radius: 0;
	}

	.container div:last-child {
		border-radius: 0 0 10px 10px;
	}
}